@import "../sass/mixins";

.header-container {
  @include flex-column();
  margin: 50px auto;
  width: 100%;

  img {
    width: 200px;
  }

  h1 {
    text-align: center;
  }
  input {
    width: 40%;
    margin: auto;
    padding: 0.3rem 1rem;
  }
  
}
